<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="securityFilter" class="com.xq.woa.back.comm.filter.SecurityFilter">
        <!-- 权限校验Bean列表 -->
        <!-- <property name="securityCheckList">
            <list>
                <ref bean="loginSecurityCheck"/>
                <ref bean="urlSecurityCheck"/>
                <ref bean="agreeMentSecurityCheck"/>
            </list>
        </property> -->
    </bean>

</beans>