<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd">
 
	<!-- ActiveMQ connectionFactory -->
	<amq:connectionFactory id="myConnectionFactory"
		brokerURL="${jms_server}" />
	
	<bean id="myJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory" ref="myConnectionFactory" />
			</bean>
		</property>
	</bean>
	
	<bean id="jmsProducer" class="com.xq.woa.back.jms.JmsProducer">
		<property name="jmsTemplate" ref="myJmsTemplate" />
	</bean>
	
</beans>
