<configuration>

  <property name="log.dir" value="/alidata1/admin/wei_guan/logs"/>
  <property name="projectname" value="wei_guan"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="OperationRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir}/${projectname}-ss_micro_app_${projectname}_lt_all.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>
        ${log.dir}/logs/${projectname}-ss_micro_app_${projectname}_lt_all-%d{yyyy-MM-dd}.log
      </fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder charset="GBK">
      <pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="OperationRollingFileASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>2048</queueSize>
    <appender-ref ref="OperationRollingFile"/>
  </appender>


  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="OperationRollingFileASYNC"/>
  </root>
</configuration>